.logo_sidebar {
    // background-image: url("/assets/jet1.jpg");
    // background-position: center; /* Center the image */
    // background-repeat: no-repeat; /* Do not repeat the image */
    // background-size: cover;
    height: 100vh;
    margin-left: -17px; 
    background-color: #00B5FA;
}

img.signUp_lo__img {
    margin-top: 3rem;
}

h3.header-text {
    margin-top: 1rem;
}

.signUp_logo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signUp_logo {
    width: 16rem;
    margin: auto;
}



.form {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .row.form-row {
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    
}

label {
    font-weight: bold;
}